Babel==2.7.0
Django>=2.2.4
django-appconf==1.0.3
django-cors-headers==3.0.2
django-crispy-forms==1.7.2
django-filter==2.1.0
django-phonenumber-field==3.0.1
django-select2==7.1.0
djangorestframework==3.9.4
phonenumbers==8.10.16
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
psycopg2==2.8.3
